/* Testimonial styling */
.testimonialSliderCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divider {
  margin: 1rem auto;
  width: 4rem;
  border-top-width: 2px;
}

/* Embla Carousel specific styling */
.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
