/* .navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: #fcfcfa;
  z-index: 99;
  padding: 0.8rem 2%;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 14px;
}

.brand img {
  height: auto;
  max-width: 160px;
}

.searchInput {
  color: #000;
  font-size: 14px;
  background-color: transparent;
  padding-left: 2rem;
  padding: 0.7em;
  border: none;
  transition: width 0.3s ease-in-out;
  width: 0%;
}

.searchInput-border {
  position: absolute;
  background: black;
  width: 0%;
  height: 1px;
  bottom: 0;
  left: 0;
  transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.searchInput:focus {
  outline: none;
}

.searchIcon:hover ~ .searchInput-border {
  width: 100%;
}

.searchIcon:hover ~ .searchInput {
  width: 100%;
}

.searchbar {
  width: 40%;
  position: fixed;
  top: 0;
  left: -40%;
  transition: left 0.3s ease-in-out;
  z-index: 99;
}

.searchbar.openSearchbar {
  left: 0;
}

.burgerIcon_dropDown_container:hover .sidebar {
  display: block;
}

.sidebar {
  display: none;
  position: absolute;
  left: 0;
  top: 75%;
  z-index: 99;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1115px) {
  .nav-list {
    display: none;
    flex-direction: column;
  }

  .nav-list.open {
    display: flex;
  }

  .searchbar {
    display: none;
  }

  .searchbar.open {
    display: block;
  }
} */
